<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body>
<style type="text/css">
    body {
        background-color: #eaeaea !important;
        color: #333;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.42857;
        -webkit-text-size-adjust: none;
    }

    #content {
        width: 650px;
        margin: 20px auto 50px;
    }

    #main {
        padding: 10px;
        background-color: white;
        border: 1px solid #ccc;
        text-align: justify;
    }

    h1 {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.1;
        color: #ff6600;
        margin: 0;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header-hr {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #eee;
    }

    h2 {
        margin: 0;
        padding: 0;
        color: #cc5200;
        font-size: 20px;
    }

    .alert {
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #000;
    }

    .success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }

    .warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    .failed {
        font-weight: bold;
        color: red;
    }
</style>
<div id="content">
    <div id="main">
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
            <tbody>
            <tr>
                <td>
                    <h1>Profildienst import report</h1>
                    <div class="header-hr"></div>
                </td>
            </tr>
            <tr>
                <td>
                    {% if failedTitles %}
                        <div class="alert warning">
                            <p>At least one importing step reported a failure!</p>
                        </div>
                    {% else %}
                        <div class="alert success">
                            <p>Everything looks good, no failed titles reported!</p>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <p>Import summary:</p>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Executed importing steps</b>: {{ stepList|join(', ') }}
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <table border="0" cellspacing="0" cellpadding="0" style="width: 80%">
                        <thead>
                        <tr>
                            <th>Step</th>
                            <th>Total</th>
                            <th>Failed</th>
                            <th>Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, stat in stats %}
                            <tr>
                                <td><i>{{ key }}</i></td>
                                <td>{{ stat.total }}</td>
                                <td{% if stat.failed > 0 %} class="failed" {% endif %}>{{ stat.failed }}</td>
                                <td>{{ stat.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Further details can be found in the log files.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>